@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #022d34;
  padding: 0 10rem;
}

a {
  text-decoration: none;
  color: #022d34;
}

p {
  margin: 0.75rem 0;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
  padding: 1rem 0;
  background-color: #FFFFFF;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.navbar ul li {
  width: 7.5rem;
  height: 2.5rem;
  padding: 0 .8rem;
  margin: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar ul li:hover {
  border: 1px solid #022d34;
  cursor: pointer;
}

.navbar ul li a {
  font-size: 1.1rem;
}

#navbar-cart {
  width: 2.5rem;
  border: 1px solid #022d34;
  height: 2.5rem;
}

#navbar-cart .navbar-cart__image {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 1.3rem;
}

.showcase {
  height: 100vh;
  background-image: url("../../../public/images/organic-background.jpg");
}

.product {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #c2cbdc;
  border-radius: 2px;
  padding: 2rem 0;
}

.product-image {
  width: 10rem;
  height: 7rem;
}

.product-price {
  margin: 1rem 0;
}

.product-button {
  background-color: #22BBA7;
  color: #FFFFFF;
  display: inline-block;
  padding: .6rem 2.3rem;
  margin-top: 1rem;
}

.product-button:hover {
  opacity: .9;
}

.products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 3.12rem;
  margin: 3rem 0;
}

.btn-light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(34, 187, 167, 0.3);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.btn-light i {
  color: #22BBA7;
}

.product-details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

.product-details__image {
  width: 47rem;
  height: 34rem;
}
/*# sourceMappingURL=index.css.map */