.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: $border;
    
    &__image{
        width: 100px;
        height: 80px;
    }
}

