.message{
    width: 50%;
    height: 5rem;
    margin: 0 auto;
    border-radius: 5px;
    color:$color-white;
    background-color: $color-red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.1rem;
}