.tab-buttons {
  margin: 2rem 0 3rem; 
}

.tab-button {
  margin-right: 15px;
  font-size: 20px;
  background: transparent;
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 0.2s;
  border-bottom: 2px solid transparent;
}
.active-tab {
  border-bottom: 2px solid $light-green;
  color: $dark-green;
}
