*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    color: $dark-green;  
}

a{
    text-decoration: none;
    color: $dark-green;   
}

p{
    margin: 0.75rem 0;
}




