//colors
$color-white:#FFFFFF;
$color-black:#000000;
$dark-green:#022d34;
$light-green:#22BBA7;
$color-grey:#EDEDED;
$dark-grey:#BEBEBD;
$color-red:#EE3C43;

$shadow-color: rgba(0,0,0,0.09);
$border: 1px solid $color-grey;


